/****** Object:  User [Camilo]    Script Date: 6/07/2019 6:02:47 p. m. ******/
CREATE USER [Camilo] WITH PASSWORD=N'iW3XyNDDC5GKSaAY2OIX2yWh5AQ8Aews2JLLcVEGk9E=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [COMESANOADMIN]    Script Date: 6/07/2019 6:02:47 p. m. ******/
CREATE USER [COMESANOADMIN] WITH PASSWORD=N'ApEEXZgtJvXTMgJgMyA7hll7nzMjVXfqEOoSLpHyfkU=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DANIEL]    Script Date: 6/07/2019 6:02:47 p. m. ******/
CREATE USER [DANIEL] WITH PASSWORD=N'VbhPcXnB/IuNzIfqCvMCZIIOX3lH2bLBDYyyNG5d7xA=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [JEISON]    Script Date: 6/07/2019 6:02:47 p. m. ******/
CREATE USER [JEISON] WITH PASSWORD=N'89xjFdEznDozGVmHdQUlYNIUSPOEmY5GURXiz6dJEc0=', DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ADMIN_ROLE]    Script Date: 6/07/2019 6:02:48 p. m. ******/
CREATE ROLE [ADMIN_ROLE]
GO
sys.sp_addrolemember @rolename = N'ADMIN_ROLE', @membername = N'Camilo'
GO
sys.sp_addrolemember @rolename = N'ADMIN_ROLE', @membername = N'COMESANOADMIN'
GO
sys.sp_addrolemember @rolename = N'ADMIN_ROLE', @membername = N'DANIEL'
GO
/****** Object:  Schema [COM]    Script Date: 6/07/2019 6:02:50 p. m. ******/
CREATE SCHEMA [COM]
GO
/****** Object:  Table [COM].[APLICACION]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[APLICACION](
	[APLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[PER_ID] [int] NOT NULL,
	[FIN_ID] [int] NOT NULL,
	[CUL_ID] [int] NOT NULL,
	[SIEMBRA_FECHA] [date] NOT NULL,
	[APLI_FECHA] [date] NOT NULL,
	[PLAG_ID] [int] NOT NULL,
	[ING_ID] [int] NOT NULL,
	[LOTE_NUM] [nvarchar](10) NOT NULL,
	[APLI_DOSIS] [nvarchar](10) NOT NULL,
	[APLI_TOTAL] [nvarchar](10) NOT NULL,
	[MET_ID] [int] NOT NULL,
	[APLI_PCPA] [nvarchar](15) NOT NULL,
	[APLI_APLICA] [nvarchar](120) NOT NULL,
	[APLI_RECOMIENDA] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[APLI_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[CULTIVO]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[CULTIVO](
	[CUL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUL_DESC] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUL_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[DEPARTAMENTO]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[DEPARTAMENTO](
	[DEP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEP_DESC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEP_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[FINCA]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[FINCA](
	[FIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[PER_ID] [int] NOT NULL,
	[VER_ID] [int] NOT NULL,
	[FIN_DESC] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FIN_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[INGREDIENTE]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[INGREDIENTE](
	[ING_ID] [int] IDENTITY(1,1) NOT NULL,
	[ING_DESC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ING_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[METODO_APLICACION]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[METODO_APLICACION](
	[MET_ID] [int] IDENTITY(1,1) NOT NULL,
	[MET_DESC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MET_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[MONITOREO]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[MONITOREO](
	[MONI_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLAG_ID] [int] NOT NULL,
	[PER_ID] [int] NOT NULL,
	[FIN_ID] [int] NOT NULL,
	[MONI_FECHA] [date] NOT NULL,
	[MONI_USUMODIFI] [nvarchar](20) NOT NULL,
	[MONI_FECHAMODIFI] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MONI_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[MONITOREO_DETALLE]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[MONITOREO_DETALLE](
	[MONIDE_ID] [int] NOT NULL,
	[MONDE_ITEM] [int] NOT NULL,
	[MONIDE_NARBOL] [nvarchar](9) NOT NULL,
	[MONIDE_DRAMAS] [nvarchar](5) NOT NULL,
	[MONIDE_DINFLORES] [nvarchar](5) NOT NULL,
	[MONIDE_NINFLORES] [int] NOT NULL,
	[MONIDE_DFRUTOS] [nvarchar](5) NOT NULL,
	[MONIDE_NFRUTOS] [int] NOT NULL,
	[MONIDE_TALLO] [nvarchar](5) NOT NULL,
	[MONIDE_PARASITA] [nvarchar](5) NOT NULL,
	[MONIDE_OVARIO] [nvarchar](5) NOT NULL,
	[MONIDE_ACAROS] [nvarchar](5) NOT NULL,
	[MONIDE_PHYTOPHTORA] [varchar](5) NOT NULL,
	[MONIDE_LOTENUM] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[MUNICIPIO]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[MUNICIPIO](
	[MUN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MUN_DESC] [nvarchar](100) NOT NULL,
	[DEP_ID] [int] NOT NULL,
 CONSTRAINT [PK_MUNI_ID] PRIMARY KEY CLUSTERED 
(
	[MUN_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[PERMISOS]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[PERMISOS](
	[ACC_USUARIO] [nvarchar](20) NOT NULL,
	[ACC_MODULO] [nvarchar](30) NOT NULL,
	[ACC_OPERACION] [nvarchar](30) NOT NULL,
	[ID_OPERACION] [int] NOT NULL,
	[ACC_GRANTE] [nvarchar](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[PERSONA]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[PERSONA](
	[PER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PER_NIT] [nvarchar](12) NOT NULL,
	[PER_NOMBRE1] [nvarchar](40) NOT NULL,
	[PER_NOMBRE2] [nvarchar](40) NULL,
	[PER_APELLIDO1] [nvarchar](40) NOT NULL,
	[PER_APELLIDO2] [nvarchar](40) NOT NULL,
	[PER_TELEFONO] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[PLAGA]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[PLAGA](
	[PLAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLAG_DESC] [nvarchar](45) NOT NULL,
	[PLAG_NOM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PLAG_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[USUARIO]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[USUARIO](
	[USU_USU] [nvarchar](20) NOT NULL,
	[USU_CLAVE] [nvarchar](255) NOT NULL,
	[USU_ADMIN] [nvarchar](5) NOT NULL,
	[USU_NOMBRE] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USU_USU] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COM].[VEREDA]    Script Date: 6/07/2019 6:02:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[VEREDA](
	[VER_ID] [int] IDENTITY(1,1) NOT NULL,
	[VER_DESC] [nvarchar](100) NOT NULL,
	[MUN_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VER_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [COM].[DEPARTAMENTO] ON 

INSERT [COM].[DEPARTAMENTO] ([DEP_ID], [DEP_DESC]) VALUES (5, N'ANTIOQUIA')
INSERT [COM].[DEPARTAMENTO] ([DEP_ID], [DEP_DESC]) VALUES (8, N'ATLANTICO')
INSERT [COM].[DEPARTAMENTO] ([DEP_ID], [DEP_DESC]) VALUES (11, N'BOGOTA')
SET IDENTITY_INSERT [COM].[DEPARTAMENTO] OFF
SET IDENTITY_INSERT [COM].[FINCA] ON 

INSERT [COM].[FINCA] ([FIN_ID], [PER_ID], [VER_ID], [FIN_DESC]) VALUES (4, 10251, 1, N'ALTA MAR UPDATE')
INSERT [COM].[FINCA] ([FIN_ID], [PER_ID], [VER_ID], [FIN_DESC]) VALUES (12, 10251, 1, N'Finca la esperanza')
INSERT [COM].[FINCA] ([FIN_ID], [PER_ID], [VER_ID], [FIN_DESC]) VALUES (16, 10251, 1, N'NÁPOLES')
SET IDENTITY_INSERT [COM].[FINCA] OFF
SET IDENTITY_INSERT [COM].[MONITOREO] ON 

INSERT [COM].[MONITOREO] ([MONI_ID], [PLAG_ID], [PER_ID], [FIN_ID], [MONI_FECHA], [MONI_USUMODIFI], [MONI_FECHAMODIFI]) VALUES (5, 1, 10249, 4, CAST(N'2019-05-23' AS Date), N'COMESANOADMIN', CAST(N'2019-06-17T17:02:58.947' AS DateTime))
SET IDENTITY_INSERT [COM].[MONITOREO] OFF
INSERT [COM].[MONITOREO_DETALLE] ([MONIDE_ID], [MONDE_ITEM], [MONIDE_NARBOL], [MONIDE_DRAMAS], [MONIDE_DINFLORES], [MONIDE_NINFLORES], [MONIDE_DFRUTOS], [MONIDE_NFRUTOS], [MONIDE_TALLO], [MONIDE_PARASITA], [MONIDE_OVARIO], [MONIDE_ACAROS], [MONIDE_PHYTOPHTORA], [MONIDE_LOTENUM]) VALUES (5, 1, N'1', N'TRUE', N'TRUE', 25, N'TRUE', 25, N'TRUE', N'TRUE', N'TRUE', N'TRUE', N'TRUE', 2535)
INSERT [COM].[MONITOREO_DETALLE] ([MONIDE_ID], [MONDE_ITEM], [MONIDE_NARBOL], [MONIDE_DRAMAS], [MONIDE_DINFLORES], [MONIDE_NINFLORES], [MONIDE_DFRUTOS], [MONIDE_NFRUTOS], [MONIDE_TALLO], [MONIDE_PARASITA], [MONIDE_OVARIO], [MONIDE_ACAROS], [MONIDE_PHYTOPHTORA], [MONIDE_LOTENUM]) VALUES (5, 2, N'2', N'FALSE', N'FALSE', 0, N'FALSE', 0, N'FALSE', N'FALSE', N'FALSE', N'FALSE', N'FALSE', 2535)
SET IDENTITY_INSERT [COM].[MUNICIPIO] ON 

INSERT [COM].[MUNICIPIO] ([MUN_ID], [MUN_DESC], [DEP_ID]) VALUES (1, N'MEDELLIN', 5)
INSERT [COM].[MUNICIPIO] ([MUN_ID], [MUN_DESC], [DEP_ID]) VALUES (2, N'ABEJORRAL', 5)
INSERT [COM].[MUNICIPIO] ([MUN_ID], [MUN_DESC], [DEP_ID]) VALUES (3, N'ABRIAQUI', 5)
GO
SET IDENTITY_INSERT [COM].[MUNICIPIO] OFF
INSERT [COM].[PERMISOS] ([ACC_USUARIO], [ACC_MODULO], [ACC_OPERACION], [ID_OPERACION], [ACC_GRANTE]) VALUES (N'COMESANOADMIN', N'APLICACION', N'INSERT', 1, N'FALSE')
INSERT [COM].[PERMISOS] ([ACC_USUARIO], [ACC_MODULO], [ACC_OPERACION], [ID_OPERACION], [ACC_GRANTE]) VALUES (N'JEISON', N'APLICACION', N'INSERT', 1, N'TRUE')
INSERT [COM].[PERMISOS] ([ACC_USUARIO], [ACC_MODULO], [ACC_OPERACION], [ID_OPERACION], [ACC_GRANTE]) VALUES (N'JEISON', N'DEPARTAMENTO', N'INSERT', 1, N'TRUE')
GO
SET IDENTITY_INSERT [COM].[PERSONA] ON 

INSERT [COM].[PERSONA] ([PER_ID], [PER_NIT], [PER_NOMBRE1], [PER_NOMBRE2], [PER_APELLIDO1], [PER_APELLIDO2], [PER_TELEFONO]) VALUES (10247, N'10101010', N'PRUEBA', N'PRUEBA 2', N'PRUEBA', N'PRUEBA', N'25252525')
INSERT [COM].[PERSONA] ([PER_ID], [PER_NIT], [PER_NOMBRE1], [PER_NOMBRE2], [PER_APELLIDO1], [PER_APELLIDO2], [PER_TELEFONO]) VALUES (10248, N'10967218', N'Jeison', N'Antonio', N'Nisperuza', N'Alvarez', N'3217776065')
INSERT [COM].[PERSONA] ([PER_ID], [PER_NIT], [PER_NOMBRE1], [PER_NOMBRE2], [PER_APELLIDO1], [PER_APELLIDO2], [PER_TELEFONO]) VALUES (10249, N'1096721912', N'Matias', N'David', N'Nisperuza', N'Gonzalez', N'3217776065')
SET IDENTITY_INSERT [COM].[PERSONA] OFF
SET IDENTITY_INSERT [COM].[PLAGA] ON 

INSERT [COM].[PLAGA] ([PLAG_ID], [PLAG_DESC], [PLAG_NOM]) VALUES (1, N'ARACNIDO', N'ARACHNYCUS')
INSERT [COM].[PLAGA] ([PLAG_ID], [PLAG_DESC], [PLAG_NOM]) VALUES (2, N'Araña', N'Aracnidus')
INSERT [COM].[PLAGA] ([PLAG_ID], [PLAG_DESC], [PLAG_NOM]) VALUES (3, N'Araña', N'Aracnidus')
SET IDENTITY_INSERT [COM].[PLAGA] OFF
INSERT [COM].[USUARIO] ([USU_USU], [USU_CLAVE], [USU_ADMIN], [USU_NOMBRE]) VALUES (N'Camilo', N'*50p0r73*', N'TRUE', N'Camilo Ospina Escudero')
INSERT [COM].[USUARIO] ([USU_USU], [USU_CLAVE], [USU_ADMIN], [USU_NOMBRE]) VALUES (N'COMESANOADMIN', N'x9T2pM*_-*', N'TRUE', N'ADMINISTRADOR DEL SISTEMA')
INSERT [COM].[USUARIO] ([USU_USU], [USU_CLAVE], [USU_ADMIN], [USU_NOMBRE]) VALUES (N'DANIEL', N'x9T2pM*_-*123', N'TRUE', N'DANIEL GIRALDO MONTES')
SET IDENTITY_INSERT [COM].[VEREDA] ON 

INSERT [COM].[VEREDA] ([VER_ID], [VER_DESC], [MUN_ID]) VALUES (1, N'PRUEBA ACTUALIZACIÓN', 451)
INSERT [COM].[VEREDA] ([VER_ID], [VER_DESC], [MUN_ID]) VALUES (6, N'Coveñas', 451)
INSERT [COM].[VEREDA] ([VER_ID], [VER_DESC], [MUN_ID]) VALUES (7, N'El tres', 1109)
SET IDENTITY_INSERT [COM].[VEREDA] OFF
ALTER TABLE [COM].[USUARIO] ADD  DEFAULT ('') FOR [USU_NOMBRE]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_CULTIVO] FOREIGN KEY([CUL_ID])
REFERENCES [COM].[CULTIVO] ([CUL_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_CULTIVO]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_FINCA] FOREIGN KEY([FIN_ID])
REFERENCES [COM].[FINCA] ([FIN_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_FINCA]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_INGREDIENTE] FOREIGN KEY([ING_ID])
REFERENCES [COM].[INGREDIENTE] ([ING_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_INGREDIENTE]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_METODO_APLICACION] FOREIGN KEY([MET_ID])
REFERENCES [COM].[METODO_APLICACION] ([MET_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_METODO_APLICACION]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_PERSONA] FOREIGN KEY([PER_ID])
REFERENCES [COM].[PERSONA] ([PER_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_PERSONA]
GO
ALTER TABLE [COM].[APLICACION]  WITH CHECK ADD  CONSTRAINT [FK_APLICACION_PLAGA] FOREIGN KEY([PLAG_ID])
REFERENCES [COM].[PLAGA] ([PLAG_ID])
GO
ALTER TABLE [COM].[APLICACION] CHECK CONSTRAINT [FK_APLICACION_PLAGA]
GO
ALTER TABLE [COM].[FINCA]  WITH CHECK ADD  CONSTRAINT [FK_FINCA_PERSONA] FOREIGN KEY([PER_ID])
REFERENCES [COM].[PERSONA] ([PER_ID])
GO
ALTER TABLE [COM].[FINCA] CHECK CONSTRAINT [FK_FINCA_PERSONA]
GO
ALTER TABLE [COM].[FINCA]  WITH CHECK ADD  CONSTRAINT [FK_FINCA_VEREDA] FOREIGN KEY([VER_ID])
REFERENCES [COM].[VEREDA] ([VER_ID])
GO
ALTER TABLE [COM].[FINCA] CHECK CONSTRAINT [FK_FINCA_VEREDA]
GO
ALTER TABLE [COM].[MONITOREO]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_FINCA] FOREIGN KEY([FIN_ID])
REFERENCES [COM].[FINCA] ([FIN_ID])
GO
ALTER TABLE [COM].[MONITOREO] CHECK CONSTRAINT [FK_MONITOREO_FINCA]
GO
ALTER TABLE [COM].[MONITOREO]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_PERSONA] FOREIGN KEY([PER_ID])
REFERENCES [COM].[PERSONA] ([PER_ID])
GO
ALTER TABLE [COM].[MONITOREO] CHECK CONSTRAINT [FK_MONITOREO_PERSONA]
GO
ALTER TABLE [COM].[MONITOREO]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_PLAGA] FOREIGN KEY([PLAG_ID])
REFERENCES [COM].[PLAGA] ([PLAG_ID])
GO
ALTER TABLE [COM].[MONITOREO] CHECK CONSTRAINT [FK_MONITOREO_PLAGA]
GO
ALTER TABLE [COM].[MONITOREO]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_USUARIO] FOREIGN KEY([MONI_USUMODIFI])
REFERENCES [COM].[USUARIO] ([USU_USU])
GO
ALTER TABLE [COM].[MONITOREO] CHECK CONSTRAINT [FK_MONITOREO_USUARIO]
GO
ALTER TABLE [COM].[MONITOREO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MONITOREO_DETALLE_MONITOREO] FOREIGN KEY([MONIDE_ID])
REFERENCES [COM].[MONITOREO] ([MONI_ID])
ON DELETE CASCADE
GO
ALTER TABLE [COM].[MONITOREO_DETALLE] CHECK CONSTRAINT [FK_MONITOREO_DETALLE_MONITOREO]
GO
ALTER TABLE [COM].[MUNICIPIO]  WITH CHECK ADD  CONSTRAINT [FK_MUNICIPIO_DEPARTAMENTO] FOREIGN KEY([DEP_ID])
REFERENCES [COM].[DEPARTAMENTO] ([DEP_ID])
GO
ALTER TABLE [COM].[MUNICIPIO] CHECK CONSTRAINT [FK_MUNICIPIO_DEPARTAMENTO]
GO
ALTER TABLE [COM].[PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_PERMISOS_USUARIO] FOREIGN KEY([ACC_USUARIO])
REFERENCES [COM].[USUARIO] ([USU_USU])
ON DELETE CASCADE
GO
ALTER TABLE [COM].[PERMISOS] CHECK CONSTRAINT [FK_PERMISOS_USUARIO]
GO
ALTER TABLE [COM].[VEREDA]  WITH CHECK ADD  CONSTRAINT [FK_VEREDA_MUNICIPIO] FOREIGN KEY([MUN_ID])
REFERENCES [COM].[MUNICIPIO] ([MUN_ID])
GO
ALTER TABLE [COM].[VEREDA] CHECK CONSTRAINT [FK_VEREDA_MUNICIPIO]
GO
/****** Object:  StoredProcedure [COM].[DENY_ACCES]    Script Date: 6/07/2019 6:03:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [COM].[DENY_ACCES]
@USER NVARCHAR(20),
@MODULE NVARCHAR(20),
@OPTION NVARCHAR(20)
AS
BEGIN

BEGIN TRY
BEGIN TRANSACTION GRANTE

BEGIN
DECLARE @STRINGQUERY NVARCHAR(500) = (SELECT 'DENY ' + @OPTION + ' ON [COM].[' + @MODULE + '] TO ['+ @USER + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

BEGIN
UPDATE COM.PERMISOS SET ACC_GRANTE = 'FALSE' WHERE ACC_MODULO = @MODULE AND ACC_OPERACION = @OPTION AND ACC_USUARIO = @USER;
END

COMMIT TRANSACTION GRANTE
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION GRANTE;
DECLARE @MESSAGE NVARCHAR(200)= (SELECT ERROR_MESSAGE());
RAISERROR(@MESSAGE,18,1);
END CATCH

END
GO
/****** Object:  StoredProcedure [COM].[GRANT_ACCES]    Script Date: 6/07/2019 6:03:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [COM].[GRANT_ACCES]
@USER NVARCHAR(20),
@MODULE NVARCHAR(20),
@OPTION NVARCHAR(20)
AS
BEGIN

BEGIN TRY
BEGIN TRANSACTION GRANTE

BEGIN
DECLARE @STRINGQUERY NVARCHAR(500) = (SELECT 'GRANT ' + @OPTION + ' ON [COM].[' + @MODULE + '] TO ['+ @USER + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

BEGIN
UPDATE COM.PERMISOS SET ACC_GRANTE = 'TRUE' WHERE ACC_MODULO = @MODULE AND ACC_OPERACION = @OPTION AND ACC_USUARIO = @USER;
END

COMMIT TRANSACTION GRANTE
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION GRANTE;
DECLARE @MESSAGE NVARCHAR(200)= (SELECT ERROR_MESSAGE());
RAISERROR(@MESSAGE,18,1);
END CATCH

END
GO
/****** Object:  Trigger [COM].[USUARIO_AD]    Script Date: 6/07/2019 6:03:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     TRIGGER [COM].[USUARIO_AD] ON [COM].[USUARIO] AFTER DELETE
AS
BEGIN

BEGIN TRY
BEGIN TRANSACTION BORRAR

DECLARE @USUARIO NVARCHAR(20) = (SELECT USU_USU FROM DELETED);

DECLARE @STRINGQUERY NVARCHAR(500);

BEGIN
SET @STRINGQUERY = (SELECT 'DROP USER [' + @USUARIO + '];');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

COMMIT TRANSACTION BORRAR
END TRY
BEGIN CATCH

ROLLBACK TRANSACTION BORRAR;
DECLARE @MESSAGE NVARCHAR(200)= (SELECT ERROR_MESSAGE());
RAISERROR(@MESSAGE,18,1);

END CATCH
END
GO
ALTER TABLE [COM].[USUARIO] ENABLE TRIGGER [USUARIO_AD]
GO
/****** Object:  Trigger [COM].[USUARIO_AI]    Script Date: 6/07/2019 6:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [COM].[USUARIO_AI] ON [COM].[USUARIO] AFTER INSERT
AS
BEGIN

BEGIN TRY
BEGIN TRANSACTION AGREGAR

DECLARE @USUARIO NVARCHAR(20) = (SELECT USU_USU FROM INSERTED);
DECLARE @CLAVE NVARCHAR(255) = (SELECT USU_CLAVE FROM INSERTED);
DECLARE @ADMIN NVARCHAR(5)= (SELECT USU_ADMIN FROM INSERTED);

DECLARE @STRINGQUERY NVARCHAR(500);

BEGIN
SET @STRINGQUERY = (SELECT 'CREATE USER [' + @USUARIO + '] WITH PASSWORD = ''' + @CLAVE + ''';');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

BEGIN

INSERT INTO COM.PERMISOS
SELECT '' + @USUARIO AS ACC_USUARIO, ACC_MODULO, ACC_OPERACION, ID_OPERACION, 'FALSE' AS ACC_GRANTE FROM COM.PERMISOS WHERE ACC_USUARIO = 'COMESANOADMIN';

END

BEGIN
SET @STRINGQUERY = (SELECT 'GRANT SELECT ON [COM].[PERMISOS] TO ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'GRANT SELECT ON [COM].[USUARIO] TO ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

IF(@ADMIN = 'TRUE')
BEGIN 

SET @STRINGQUERY = (SELECT 'GRANT ALTER ANY USER TO ['+ @USUARIO + '] WITH GRANT OPTION');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'GRANT ALTER ANY ROLE TO ['+ @USUARIO + '] WITH GRANT OPTION');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'ALTER ROLE [ADMIN_ROLE] ADD MEMBER ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

COMMIT TRANSACTION AGREGAR
END TRY
BEGIN CATCH

DELETE FROM COM.USUARIO WHERE USU_USU = @USUARIO;

ROLLBACK TRANSACTION AGREGAR;
DECLARE @MESSAGE NVARCHAR(200)= (SELECT ERROR_MESSAGE());
RAISERROR(@MESSAGE,18,1);

END CATCH
END
GO
ALTER TABLE [COM].[USUARIO] ENABLE TRIGGER [USUARIO_AI]
GO
/****** Object:  Trigger [COM].[USUARIO_AU]    Script Date: 6/07/2019 6:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [COM].[USUARIO_AU] ON [COM].[USUARIO] AFTER UPDATE
AS
BEGIN

--BEGIN TRY
--BEGIN TRANSACTION AGREGAR

DECLARE @USUARIO NVARCHAR(20) = (SELECT USU_USU FROM INSERTED);
DECLARE @CLAVE NVARCHAR(255) = (SELECT USU_CLAVE FROM INSERTED);
DECLARE @CLAVE_BEFORE NVARCHAR(255) = (SELECT USU_CLAVE FROM DELETED); --COMPRUEBA SI EL DATO ANTERIOR CAMBIO
DECLARE @ADMIN NVARCHAR(5) = (SELECT USU_ADMIN FROM INSERTED);
DECLARE @ADMIN_BEFORE NVARCHAR(5) = (SELECT USU_ADMIN FROM DELETED); --COMPRUEBA SI EL DATO ANTERIOR ERA ADMINISTRADOR

DECLARE @STRINGQUERY NVARCHAR(500);

-- CAMBIA LA CLAVE DEL USUARIO DIRECTAMENTE EN LA BD.
IF(@CLAVE != @CLAVE_BEFORE)
BEGIN
SET @STRINGQUERY = (SELECT 'ALTER USER [' + @USUARIO + '] WITH PASSWORD = ''' + @CLAVE + ''';');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END

ELSE
BEGIN
IF(@ADMIN != @ADMIN_BEFORE)
BEGIN 
IF(@ADMIN = 'TRUE')
BEGIN
SET @STRINGQUERY = (SELECT 'GRANT ALTER ANY USER TO ['+ @USUARIO + '] WITH GRANT OPTION');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'GRANT ALTER ANY ROLE TO ['+ @USUARIO + '] WITH GRANT OPTION');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'ALTER ROLE [ADMIN_ROLE] ADD MEMBER ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END
ELSE
BEGIN
SET @STRINGQUERY = (SELECT 'DENY ALTER ANY USER TO ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'DENY ALTER ANY ROLE TO ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;

SET @STRINGQUERY = (SELECT 'ALTER ROLE [ADMIN_ROLE] DROP MEMBER ['+ @USUARIO + ']');
EXEC SYS.SP_EXECUTESQL @STRINGQUERY;
END
END
END

--COMMIT TRANSACTION AGREGAR
--END TRY
--BEGIN CATCH

--ROLLBACK TRANSACTION AGREGAR;
--DECLARE @MESSAGE NVARCHAR(200)= (SELECT ERROR_MESSAGE());
--RAISERROR(@MESSAGE,18,1);

--END CATCH
END
GO
ALTER TABLE [COM].[USUARIO] ENABLE TRIGGER [USUARIO_AU]
GO
